<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    
    <head>
        <title>{{title}}</title>
        
        <meta charset="utf-8">
        <meta name="author" content="{{author}}">
        <meta name="description" content="{{description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="/view/assets/img/favicon.png" type="image/x-icon" />
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link href="{{ASSETS}}/css/app.css" rel="stylesheet">

        <link href="{{ASSETS}}/libs/alertifyjs/css/alertify.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ASSETS}}/libs/alertifyjs/css/themes/default.min.css" rel="stylesheet" type="text/css" />
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
        <link href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />

        <link href="{{ASSETS}}/css/techlabs.css" rel="stylesheet" type="text/css" />

        <script src="{{ASSETS}}/libs/alertifyjs/alertify.min.js"></script>

    </head>

    <body>

        {{navbar}}

        <div class="container mt-5">
            
            {{content}}

        </div>

        {{footer}}

    </body>

    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
    <script src="{{URL}}/app.js"></script>

</html>