<div class="tab-pane {{active}}" id="method-{{method}}-tab-pane" role="tabpanel" aria-labelledby="method-{{method}}-tab" tabindex="0">
                
    <form method="post" action="/mikrotik/{{id}}/call_api_{{method}}" class="mt-4" enctype="multipart/form-data">
        <div class="row">
            
            {{csrf}}

            <div class="col-md-12">
                <label class="fw-bold mb-2">URL:</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-sm" name="url" value="/ping" required>
                    <button type="submit" title="Enviar Requisição" class="btn btn-success btn-sm"><i class="fa-solid fa-code"></i> SEND</button>
                </div>
            </div>

            <div class="col-md-12">
                <div class="mb-3">
                    <label class="fw-bold mb-2">BODY - JSON:</label>
                    <textarea class="form-control form-control-sm" rows="5" name="data" required>{"address":"172.23.16.1","count":"2"}</textarea>
                </div>
            </div>

        </div>
    </form>

</div>