<a href="/mikrotik" class="btn btn-secondary btn-sm"><i class="fa-solid fa-arrow-left"></i></a></td>
{{button_api}}

<div class="mt-4">
    <h5><span class="badge bg-primary">{{code}} - #{{id}}</span> <span class="badge bg-success">{{fullname}}</span> </h5>
</div>

{{status}}

<div class="card mt-4">

    <div class="card-body">
        
        <form method="post">
                
            <div class="row">

                <input type="hidden" id="mikrotik_edit_form" value="form">
                <input type="hidden" id="mikrotik_edit_id" value="{{id}}">
                {{csrf}}

                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="mikrotik_edit_fullname">Nome do Roteador:</label>
                        <input type="text" class="form-control form-control-sm" name="mikrotik_edit_fullname" id="mikrotik_edit_fullname" value="{{fullname}}" required>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="mikrotik_edit_host">Host API:</label>
                        <input type="text" class="form-control form-control-sm" name="mikrotik_edit_host" id="mikrotik_edit_host" value="{{host}}" required>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="mikrotik_edit_username">Usuario da API:</label>
                        <input type="text" class="form-control form-control-sm" name="mikrotik_edit_username" id="mikrotik_edit_username" value="{{username}}" required>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="mikrotik_edit_password">Senha da API:</label>
                        <input type="text" class="form-control form-control-sm" name="mikrotik_edit_password" id="mikrotik_edit_password" value="{{password}}" required>
                    </div>
                </div> 

            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="mikrotik_edit_status" id="mikrotik_edit_status">
                            <label class="form-check-label" for="mikrotik_edit_status">
                                Ativar Roteador
                            </label>
                          </div>
                    </div>
                </div> 
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-success btn-sm"><i class="fa-solid fa-floppy-disk"></i> Atualizar</button>
            </div>

        </form>
        
    </div>

</div>