<div class="card mt-3">
    <div class="card-body">
        <form method="post" action="/user/{{id}}/status">

            <input type="hidden" id="user_edit_form" value="form">
            <input type="hidden" id="user_edit_id" value="{{id}}">
            {{csrf}}
           
            <div class="col-md-12">
                
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" onChange="this.form.submit()" id="user_edit_status" name="user_edit_status">
                    <label class="form-check-label" for="user_edit_status">Ativar Usuário</label>
                </div>

                <span class="badge bg-{{status_color}} mt-3">{{status_message}}</span>
            </div>

        </form>
    </div>
</div>