<a href="/user/new" class="btn btn-success btn-circle btn-sm" title="Adicionar Usuário"><i class="fa-solid fa-plus"></i></a></td>

<div class="mt-4">
    <h5>{{title}}</h5>
</div>

{{status}}

<div class="card mt-4">
    <div class="card-body">
        <div class="table-responsive">
            <table id="tbUser" class="table table-responsive mb-0">
            
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Usuário</th>
                        <th>Status</th>
                    </tr>
                </thead>
                
                <tbody>
                    {{table_itens}}
                </tbody>

            </table>
        </div>
    </div>
</div>