# Ativação do RewriteEngine que nos permite gerenciar as rotas
RewriteEngine On

# Tipo do arquivo base
DirectoryIndex index.php

# Protege o IndexOf
Options -Indexes

# Definição da rota principal
RewriteBase /

# Se o diretório ou arquivos digitados na URL não existirem, seguir a RewriteRule
RewriteCond %{REQUEST_FILENAME} !-d       
RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite Rule, redirecionar todas as requests para o index.php 
RewriteRule ^(.*)$ ./index.php [QSA,NC]

# Se o site for aberto em HTTP, altere para HTTPS
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]